.menu-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-nav {
    margin-bottom: 0;
}

.menu-nav__icon svg {
    width: 2rem;
    height: 2rem;
    margin-right: 10px;
    margin-left: 10px;
    fill: #edc7b7;
    background-color: #ac3b61;
    padding: 10px;
    border-radius: 50px;
}