footer {
    position: fixed;
    height: 90px;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 1px #000000;
}

.main {
    /*background-color: #edc7b7;*/
    background-color: #eee2dc;
    /*background-color: #bab2b5;*/
    /*background-color: #123c69;*/
    /*background-color: #ac3b61;*/
}